body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #cdf4f4;
}

.login {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    color: #104060;
    border: 2px solid #104060;
    text-align: center;
}

input {
    padding: 15px;
    font-size: 15px;
    border: 2px solid #104060;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 5px;
    background-color: #104060;
    color: white;
    text-decoration: none;
    border: none;
}

.button:hover {
    background-color: #104060;
}

.login h1 {
    color: #104060;
    font-size: 24px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 40px;
}

.login button {
    margin-top: 20px;
}

.login ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.login ul li {
    display: block;
    margin-top: -5px;
}

.login ul li:first-child {
    margin-left: 0;
}

.login ul li a {
    text-decoration: none;
    color: #104060;
    margin-top: 0;
    font-size: 12px; /* Diminui o tamanho da fonte do link */
}

.barra-de-navegação {
    background-color: #104060;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os itens filhos */
    align-items: center; /* Centraliza verticalmente os itens filhos */
}

.barra-de-navegação h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    flex-grow: 1; /* Permite que o h1 ocupe o espaço restante */
}

.logo {
    width: 90px;
    height: auto;
    margin-right: 20px; /* Adiciona margem à direita para evitar corte */
    margin-left: auto; /* Garante que o logo fique à direita */
}
