/* CSS para o body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #cdf4f4;
    margin: 0; /* Remove a margem padrão do body */
}

/* CSS para a barra de navegação */
.barra-de-navegação {
    background-color: #104060;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens filhos */
    z-index: 2; /* Garante que a barra de navegação esteja acima da barra lateral */
}

.barra-de-navegação h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-align: center; /* Centraliza o texto h1 */
    flex-grow: 1; /* Ocupa o espaço restante */
}

.logo {
    width: 90px;
    height: auto;
    margin-left: auto; /* Posiciona a logo na extremidade direita */
    margin-right: 40px; /* Aumenta a margem à direita para separar a logo do texto */
}


/* CSS para a barra lateral */
.barra-lateral {
    position: fixed;
    top: 70px; /* Ajustado para começar abaixo da barra de navegação com mais espaço */
    left: 0;
    width: 200px;
    height: calc(100% - 70px); /* Ajuste para cobrir a altura restante da tela */
    background-color: white;
    color: #104060;
    z-index: 1;
    border-right: 1px solid #104060; /* Adiciona uma borda direita */
    transition: top 0.3s; /* Adiciona uma transição suave para o posicionamento */
    padding-top: 50px; /* Adiciona mais espaço entre o topo e os links */
}

/* Ajuste do posicionamento quando a barra de navegação for expandida */
.barra-de-navegação.expandida + .barra-lateral {
    top: 60px; /* Ajuste para começar abaixo da barra de navegação sem espaço */
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.barra-lateral ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.barra-lateral ul li a {
    text-decoration: none;
    color: #104060;
    font-weight: bold;
    display: block;
}

.barra-lateral ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* CSS geral para links */
a {
    text-decoration: none;
    color: inherit; /* Herda a cor do texto do elemento pai */
}

a:hover {
    text-decoration: underline;
}
